In [1]:
import numpy as np
import pandas as pd

In [2]:
datos = pd.read_csv('Bienestar.csv', encoding='latin1', low_memory=False)
datos.head()

,anio_reg,trimestre,folio,hog_ent_1,hog_ent_2,id_pobla,sexo,edad,edo_conyug,grado_inst,...,upm_dis,estrato,factor,gct_per,tam_hog,gr_edad,n_inst,cond_act,gr_satis,gr_feliz
0,2012,1,191204070,1,0,1,1,59,6,4,...,5050,2,7570,8030.0000,3,3,1,1,4,3
1,2012,1,141201084,1,0,1,1,24,1,1,...,3760,2,8377,4803.6667,3,1,5,1,3,3
2,2012,1,311204053,1,0,2,2,61,6,2,...,8350,1,16455,3839.5000,7,4,1,1,4,4
3,2012,1,131206082,1,0,2,2,28,6,3,...,3480,3,4610,7395.0000,3,1,5,1,4,4
4,2012,1,261206013,1,0,1,1,38,6,4,...,6950,2,2314,10697.6667,3,2,6,1,3,4

In [3]:
datos.shape

(10654, 201)

In [4]:
datos.describe()

,anio_reg,trimestre,folio,hog_ent_1,hog_ent_2,id_pobla,sexo,edad,edo_conyug,grado_inst,...,upm_dis,estrato,factor,gct_per,tam_hog,gr_edad,n_inst,cond_act,gr_satis,gr_feliz
count,10654.0,10654.0,1.065400e+04,10654.000000,10654.0,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,...,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000
mean,2012.0,1.0,1.626387e+08,1.022339,0.0,1.783368,1.560071,39.518115,4.467899,3.303736,...,4323.340529,2.235968,6643.208748,12090.984527,3.864089,2.177304,3.674488,1.953351,3.263657,3.414023
std,0.0,0.0,8.975123e+07,0.171323,0.0,0.997792,0.496402,13.852246,1.923841,1.560541,...,2419.038655,0.802627,4971.166931,16373.798728,1.844545,0.965279,1.839141,1.510370,0.833247,0.772105
min,2012.0,1.0,1.120100e+07,1.000000,0.0,1.000000,1.000000,18.000000,1.000000,0.000000,...,10.000000,1.000000,484.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000
25%,2012.0,1.0,8.120532e+07,1.000000,0.0,1.000000,1.000000,28.000000,3.000000,3.000000,...,2220.000000,2.000000,3201.000000,4321.968750,3.000000,1.000000,2.000000,1.000000,3.000000,3.000000
50%,2012.0,1.0,1.612021e+08,1.000000,0.0,2.000000,2.000000,38.000000,5.000000,3.000000,...,4400.000000,2.000000,5385.000000,7391.482150,4.000000,2.000000,4.000000,1.000000,3.000000,4.000000
75%,2012.0,1.0,2.412011e+08,1.000000,0.0,2.000000,2.000000,50.000000,6.000000,4.000000,...,6340.000000,3.000000,8542.000000,13477.375025,5.000000,3.000000,5.000000,4.000000,4.000000,4.000000
max,2012.0,1.0,3.212061e+08,4.000000,0.0,10.000000,2.000000,70.000000,6.000000,6.000000,...,8580.000000,4.000000,53564.000000,327586.500000,17.000000,4.000000,7.000000,7.000000,4.000000,4.000000

In [5]:
datos['gr_satis'].describe()

count    10654.000000
mean         3.263657
std          0.833247
min          1.000000
25%          3.000000
50%          3.000000
75%          4.000000
max          4.000000
Name: gr_satis, dtype: float64

In [6]:
datos['gr_feliz'].describe()

count    10654.000000
mean         3.414023
std          0.772105
min          1.000000
25%          3.000000
50%          4.000000
75%          4.000000
max          4.000000
Name: gr_feliz, dtype: float64

In [7]:
datos.drop(['anio_reg', 'trimestre', 'hog_ent_1', 'hog_ent_2', 'id_pobla', 'sexo', 'edad', 'edo_conyug',
            'grado_inst', 'nivel_inst', 'scian', 'sinco', 'clasif_emp','remod', 'maltra_e', 'otranec_e'], axis=1, inplace=True)
datos.head()

,folio,encsat,ed_anim1,ed_anim2,ed_anim3,ed_anim4,durmio,ha_dormi,escuela,lengua_1,...,upm_dis,estrato,factor,gct_per,tam_hog,gr_edad,n_inst,cond_act,gr_satis,gr_feliz
0,191204070,10,7,5,0,0,2,1,1,2,...,5050,2,7570,8030.0000,3,3,1,1,4,3
1,141201084,8,7,8,7,7,2,2,1,2,...,3760,2,8377,4803.6667,3,1,5,1,3,3
2,311204053,10,10,10,0,0,1,1,1,1,...,8350,1,16455,3839.5000,7,4,1,1,4,4
3,131206082,10,10,10,0,0,3,1,1,1,...,3480,3,4610,7395.0000,3,1,5,1,4,4
4,261206013,8,8,8,2,0,4,2,1,2,...,6950,2,2314,10697.6667,3,2,6,1,3,4

In [8]:
datos.describe()

,folio,encsat,ed_anim1,ed_anim2,ed_anim3,ed_anim4,durmio,ha_dormi,escuela,lengua_1,...,upm_dis,estrato,factor,gct_per,tam_hog,gr_edad,n_inst,cond_act,gr_satis,gr_feliz
count,1.065400e+04,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,...,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000,10654.000000
mean,1.626387e+08,8.040548,7.689319,7.594518,2.855359,2.778862,2.092172,1.262812,1.178149,1.844378,...,4323.340529,2.235968,6643.208748,12090.984527,3.864089,2.177304,3.674488,1.953351,3.263657,3.414023
std,8.975123e+07,1.943694,2.339079,2.403421,3.185968,3.250270,0.922893,0.440182,0.452977,0.362514,...,2419.038655,0.802627,4971.166931,16373.798728,1.844545,0.965279,1.839141,1.510370,0.833247,0.772105
min,1.120100e+07,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,10.000000,1.000000,484.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000
25%,8.120532e+07,7.000000,7.000000,7.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000,...,2220.000000,2.000000,3201.000000,4321.968750,3.000000,1.000000,2.000000,1.000000,3.000000,3.000000
50%,1.612021e+08,8.000000,8.000000,8.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000,...,4400.000000,2.000000,5385.000000,7391.482150,4.000000,2.000000,4.000000,1.000000,3.000000,4.000000
75%,2.412011e+08,10.000000,9.000000,9.000000,5.000000,5.000000,3.000000,2.000000,1.000000,2.000000,...,6340.000000,3.000000,8542.000000,13477.375025,5.000000,3.000000,5.000000,4.000000,4.000000,4.000000
max,3.212061e+08,10.000000,10.000000,10.000000,10.000000,10.000000,5.000000,2.000000,3.000000,2.000000,...,8580.000000,4.000000,53564.000000,327586.500000,17.000000,4.000000,7.000000,7.000000,4.000000,4.000000

In [9]:
# Se reemplazan valores NaN por ceros
datos.fillna(0, inplace=True)

In [10]:
from sklearn import preprocessing
def encode_features(datos):
    features = list(datos.drop(['folio', 'gr_satis', 'gr_feliz'], axis=1).columns)
    #
    for feature in features:
        le = preprocessing.LabelEncoder()
        le.fit(datos[feature])
        datos[feature] = le.transform(datos[feature])
    #
    return datos

In [11]:
d_encode = encode_features(datos)
d_encode.head()

,folio,encsat,ed_anim1,ed_anim2,ed_anim3,ed_anim4,durmio,ha_dormi,escuela,lengua_1,...,upm_dis,estrato,factor,gct_per,tam_hog,gr_edad,n_inst,cond_act,gr_satis,gr_feliz
0,191204070,10,7,5,0,0,1,0,0,1,...,504,1,3015,5651,2,2,1,0,4,3
1,141201084,8,7,8,7,7,1,1,0,1,...,375,1,3314,3102,2,0,5,0,3,3
2,311204053,10,10,10,0,0,0,0,0,0,...,833,0,4837,2091,6,3,1,0,4,4
3,131206082,10,10,10,0,0,2,0,0,0,...,347,2,1572,5247,2,0,5,0,4,4
4,261206013,8,8,8,2,0,3,1,0,1,...,693,1,452,6994,2,1,6,0,3,4

In [12]:
# Modelo para la variable de salida 'gr_satis'
# Separando en training
from sklearn.model_selection import train_test_split
#Borramos las columnas folio, gr_satis, gr_feliz
X_all = d_encode.drop(['folio', 'gr_satis', 'gr_feliz'], axis=1)
y_all = d_encode['gr_satis']

In [13]:
num_test = 0.20 # aquÃ­ se estÃ¡ especificando 20% para test
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test)

In [14]:
# Seleccionamos el tipo de clasificador, en este caso RandomForest. 
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(1000)
clf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=1000)

In [15]:
from sklearn.metrics import make_scorer, accuracy_score, f1_score
predictions = clf.predict(X_test)
# se imprime el accuracy
print("Accuracy: ", round(accuracy_score(y_test, predictions) * 100, 2))
#Imprimimos la f-score
# Opciones average = 'micro', 'macro', 'weighted'
print("F1-Score: ", round(f1_score(y_test, predictions, average='weighted') * 100, 2))

Accuracy:  93.66
F1-Score:  92.77

In [16]:
# Matriz de confusion (falsos positivos, falsos negativos)
# https://towardsdatascience.com/understanding-confusion-matrix-a9ad42dcfd62
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[ 23,  45,  19,   0],
       [  0, 208,  71,   0],
       [  0,   0, 777,   0],
       [  0,   0,   0, 988]])

In [17]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(clf, X_train, y_train, cv=6)
print(scores)

[0.94159043 0.93596059 0.93455313 0.94014085 0.93028169 0.93169014]

In [ ]:
#Podemos cambiar la mÃ©trica de evaluaciÃ³n con el parÃ¡metro scoring
scores = cross_val_score(clf, X_test, y_test, cv=6, scoring='f1_weighted')
print(scores)

In [ ]:
# Modelo para la variable de salida 'gr_feliz'
# Separando en training
from sklearn.model_selection import train_test_split
#Borramos las columnas folio, gr_satis, gr_feliz
X_all = d_encode.drop(['folio', 'gr_satis', 'gr_feliz'], axis=1)
y_all = d_encode['gr_feliz']

In [ ]:
num_test = 0.20 # aquÃ­ se estÃ¡ especificando 20% para test
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=num_test)

In [ ]:
# Seleccionamos el tipo de clasificador, en este caso RandomForest. 
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(1000)
clf.fit(X_train, y_train)

In [ ]:
from sklearn.metrics import make_scorer, accuracy_score, f1_score
predictions = clf.predict(X_test)
# se imprime el accuracy
print("Accuracy: ", round(accuracy_score(y_test, predictions) * 100, 2))
#Imprimimos la f-score
# Opciones average = 'micro', 'macro', 'weighted'
print("F1-Score: ", round(f1_score(y_test, predictions, average='weighted') * 100, 2))

In [ ]:
# Matriz de confusion (falsos positivos, falsos negativos)
# https://towardsdatascience.com/understanding-confusion-matrix-a9ad42dcfd62
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(clf, X_train, y_train, cv=6)
print(scores)

In [ ]:
#Podemos cambiar la mÃ©trica de evaluaciÃ³n con el parÃ¡metro scoring
scores = cross_val_score(clf, X_test, y_test, cv=6, scoring='f1_weighted')
print(scores)